@charset "UTF-8";
html, body{
	height: 95%;
	background-color: #66cccc;
}

body{
	margin: 0;
	padding: 0;
	position: relative;
	min-width: 550px;
	min-height: 500px;

}
#form{
	font-family: sans-serif;
	background-color: green;
	border-radius: 20px;
	border: 3px solid #f8f8ff;
	margin: -250px 0 0 -275px;
	position: absolute;
	text-align: center;
	vertical-align: middle;
	top: 50%;
	left: 50%;
	height: 550px;
	width: 500px;
	color: #e0ffff;
	font-weight: 600;

}
h1{
	font-family: 'ＭＳ ゴシック';
	text-align: left;
	padding-left: 20px;
}
/*form{
	text-align: center;
	background: #66cccc;
	width: 500px;
	/*padding-left: 50px;*/
/*}*/
em{
	font-size: 15px;
	font-weight: 500;
	font-style: normal;
	font-family: sans-serif;
	color: black;
}
#text{
	border-radius: 3px;
	border: 2px solid white;
	text-align: right;
}
#sex{
	border-radius: 3px;
	border: 2px solid white;
}
#age{
	border-radius: 3px;
	border: 2px solid white;
}
#job{
	border-radius: 3px;
	border: 2px solid white;
}
#submit{
	border:1px solid white;
    padding: 4px 18px;
    color: #fff;
    cursor: pointer;
    background: #428ec9;
    border-radius: 5px;
}
#reset{
	border:1px solid white;
    padding: 4px 10px;
    color: #fff;
    cursor: pointer;
    background: #428ec9;
    border-radius: 5px;

}
#back{
	border:1px solid white;
	color: #fff;
	cursor: pointer;
	background: #428ec9;
	border-radius: 5px;
	padding: 4px 10px;
}
