@charset="utf-8";

#user{
	float: left;
	margin-left: 25%;
	/*margin-top: 10%;*/
	/*margin-right: -70%;*/
	padding-bottom: 150px;
}

#out{
	/*position: absolute;*/
	/*vertical-align: middle;*/
	text-align: center;
	float: left;
	border: 3px solid white;
	border-radius: 10px;
	background-color: lime;
	margin: 90px 0px 70px 10%;
	padding: 40px 30px 30px 20px;
	width: 300px;
	height: 50px;
}
#date{
	border: 1px solid white;
	border-radius: 5px;
	width: 200px;
	height: 40px;
}
#inc{
	border: 1px solid white;
	background-color: #0e00b0;
	color: white;
	font-size: 25px;
	border-radius: 5px;
	cursor: pointer;
	width: 200px;
	height: 60px;
}

#dam{
	background-color: orangered;
	color: white;
	font-size: 25px;
	border: 1px solid white;
	border-radius: 5px;
	cursor: pointer;
	width: 200px;
	height: 60px;
}
#ydam{
	background-color: mediumpurple;
	color: white;
	font-size: 25px;
	border: 1px solid white;
	border-radius: 5px;
	cursor: pointer;
	width: 200px;
	height: 60px;
}
#edit{
	font-size: 18px;
	border: 3px solid white;
	border-radius: 5px;
	/*margin-top: 2px;*/
	cursor: pointer;
	height: 45px;
	width: 80px;
}
#dam_b{
	background-color: darkmagenta;
	color: white;
	font-size: 15px;
	border: 1px solid white;
	border-radius: 5px;
	cursor:pointer;
	width:180px;
	height:50px;
	margin-left:-50%
}
#result{
	text-align: center;
	width: 200px;
	height: 40px;
	font-size: 22px;
	border: 1px solid #aaf2fb;
	border-radius: 5px;
	padding-right: 5px;
	background-color: #aaf2fb;
}
